body
{
  background-color: beige;

}

#buy,#add
{
  background-color: orange;
  border: none;
}

.card-text{
  text-align: justify;
}

#parent {
  background-color: rgb(239, 246, 246);
  max-height: 100%;
}

#col {
  background-color: aquamarine;
}

.p-2 {
  width: 100px;
  height: 100px;
  /* border: 2px solid black; */
  margin: 0px;
  cursor: pointer;
}

#images {
  max-width: 100%;
  max-height: 100%;
}
#col-2img{
  max-width: 100%; 
  max-height: 100%;

}
#part2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#image1,#image2,#image3
{
  max-width: 100%;
  max-height: 100%;
}
#offers 
{
  margin: 10px;
  width: 30vw;
  max-height: 100%  ;
  border-radius: 10px;
  box-shadow: 3px 2px 7px grey;
}
#part3, #part4 {
  border: 2px solid black;
}

#context{
  line-height: 100%;
}

#aboutproduct
{
  border: 2px solid black;
}